
SkyOnFire/Temp/

SkyOnFire/Library/metadata/

*.meta

SkyOnFire/Library/ShaderCache/

SkyOnFire/Library/CrashedAssetImports\.txt

SkyOnFire/Library/assetDatabase3

SkyOnFire/Library/AssetImportState

SkyOnFire/Library/EditorInstance\.json

SkyOnFire/Library/ScriptAssemblies/Assembly-CSharp\.dll

SkyOnFire/Library/ScriptAssemblies/Assembly-CSharp\.dll\.mdb

SkyOnFire/Library/ScriptAssemblies/BuiltinAssemblies\.stamp

SkyOnFire/Library/ScriptMapper

SkyOnFire/Library/shadercompiler-UnityShaderCompiler\.exe0\.log

SkyOnFire/Library/SpriteAtlasDatabase\.asset

SkyOnFire/ProjectSettings/ClusterInputManager\.asset

SkyOnFire/ProjectSettings/UnityConnectSettings\.asset
